html,
body {
    height: 100%;
    font-family: "Oswald";
    background-image: url(https://images.unsplash.com/photo-1614851099511-773084f6911d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D        
);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

/* NAVBAR */

#mainNavbar .navbar-brand {
    color: #01004e;
    font-size: 1.5rem;
    font-weight: 600;

}

#mainNavbar .nav-link {
    color: white;
    font-size: 1.5rem;
}

#mainNavbar .nav-link:hover {
    color: #f40139;
    font-size: 1.5rem;
}

.navbar-toggler {
    background-color: #f40139;
}

#mainNavbar .dropdown-menu {
    margin: 0 auto;
    background-color: black;
}

#mainNavbar .dropdown-menu a {
    font-size: 1.5rem;
    color: white;
}

#mainNavbar .dropdown-menu a:hover {
    font-size: 2rem;
    color: #f40139;
    background-color: black;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.navbar-nav {
    flex-flow: row nowrap;

}

.navbar-nav li {
    padding: 1rem;
}

.navbar {
    display: inline-flex;
}

button.navbar-toggler {
    padding: 0.5rem;
    margin: 0.5rem;
}

/* NAVBAR ENDS */

#mainDiv {
    color: white;
    grid-auto-rows: 1fr;
    margin-top: 8rem;
}

#mainDiv p {
    font-size: 2rem;
    font-weight: 300;
    color: #f40139;
}

.card {
    background-color: rgba(245, 245, 245, 1);
    opacity: .4;
}

.card-transparent {
    width: 80%;
    max-width: 450px;
    height: 80%;
    max-height: 800px;
    display: block;
    background: #01004e;
    outline: 0.75rem solid #01004e;
    border-radius: 1rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.card-transparent img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.card-transparent .card-body {
    text-align: center;
    padding: 20px
}

.card-transparent .card-body h1 {
    font-size: 1.5rem;
   
}

#cardText {
    font-size: 1.5rem !important;
    
}

.row.align-items-center {
    display: flex;
}

.col-lg-6 {
    display: flex;
}

.card-transparent .card-img-top {
    width: 100%; 
    height: 20rem; 
    object-fit: cover; 
  }

@media (min-width: 1200px) {

    .card-transparent .card-body p {
        font-size: 2rem !important;
    }

    .card-transparent img {
        object-fit: cover;
        width: 460px;
        height: 460px;
    }
}

@media screen and (max-width: 576px) {
  
    #mainDiv .col-lg-6 {
      margin-bottom: 20px; 
    }

    .row-margin {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  }


/*JAVASCRIPT*/

#mainNavbar.scrolled {
    background-color: #01004e;
    transition: background-color 0.3s ease;
}

#navbarBrand.scrolled {
    color: #f40139;
}