html,
body {
    height: 100%;
    font-family: "Oswald";
    background-image: url(https://images.unsplash.com/photo-1614851099511-773084f6911d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D        
);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

/* NAVBAR */

#mainNavbar .navbar-brand {
    color: #01004e;
    font-size: 1.5rem;
    font-weight: 600;

}

#mainNavbar .nav-link {
    color: white;
    font-size: 1.5rem;
}

#mainNavbar .nav-link:hover {
    color: #f40139;
    font-size: 1.5rem;
}

.navbar-toggler {
    background-color: #f40139;
}

#mainNavbar .dropdown-menu {
    margin: 0 auto;
    background-color: black;
}

#mainNavbar .dropdown-menu a {
    font-size: 1.5rem;
    color: white;
}

#mainNavbar .dropdown-menu a:hover {
    font-size: 2rem;
    color: #f40139;
    background-color: black;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.navbar-nav {
    flex-flow: row nowrap;

}

.navbar-nav li {
    padding: 1rem;
}

.navbar {
    display: inline-flex;
}

button.navbar-toggler {
    padding: 0.5rem;
    margin: 0.5rem;
}

/* NAVBAR */

#mainDiv {
    color: white;
}

#mainDiv p {
    font-size: 2rem;
    font-weight: 300;
    color: #f40139;
}

.card-transparent {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #01004e;
    border-radius: 1rem;
}


.card-transparent .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    
}

#latestCard img {
    max-width: 70%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 1rem 1rem 0 0;
    
}


.center-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.overflow-hidden {
    text-align: center;
    justify-content: center;
}

#latestCard .card-body {
    width: 70%;
}

.col-lg-5{
    margin-top: 7rem;
}


@media (max-width: 280px) {
    #mainDiv {
        padding-top: 70rem;
    }

    #latestCard {
        margin-top: 5rem;
    }

    #latestCard img {
        height: 5rem;
        width: auto;
        display: block;
    }
}

@media (max-width: 600px) {

    #latestCard {
        margin-top: 3rem;
        display: none;
    }

    #latestCard img {
        height: 14rem;
        width: auto;
        display: block;
    }
}

@media (max-width: 1200px) {
    .card-transparent {
        width: 150rem;
        height: 800px;
        max-height: 80vh;
        overflow: auto;
    }

    .card-transparent .card-body p {
        font-size: 1.25rem !important;
    }

    .card-transparent img {
        margin-top: 50px;
        height: 5rem;
        width: auto;
    }
}

@media (min-width: 1600px) and (max-width: 1920px) {
    .card-transparent {
      width: 100%; 
      height: 80vh; 
      overflow: auto;
    }
  
    
    .card-transparent .card-body p {
      font-size: 1rem; 
    }
  
    
    #latestCard img {
      height: 240px; 
      width: 600px;
    }
  }