#nav{
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav nav{
    font-family: 'Montserrat', sans-serif;
    border: 0.3rem solid;
    width: 100%;

} 

#nav nav h1{
    padding-left: 2%;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    transition: font-size 0.5s;
    text-align: left;
}

#nav nav h1:hover{
    font-size: 1.55rem;
}

#photoRow{
    display: flex;
    flex-direction: row;
    padding: 1%;
}

#photoRow span{
    width: 30%;
    margin: calc(10%/6.4);
    border: 0.5rem solid black;
    transition: border-color 0.5s, box-shadow 0.5s, transform 0.5s;
}

#photoRow span:hover{
    border-color: #00FFFF #FF0000 #FF0000 #00FFFF;
    box-shadow: 0.4rem 0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.70);
    transform: translate(-0.3em, -0.3rem);
}

#photoRow span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 414px){

    #photoRow{
        flex-direction: column;
        align-items: center;
    }

    #photoRow span{
        margin: 1rem 0 1rem;
    }

    #nav nav{
        justify-content: center;
    }

    #nav nav h1{
        padding-left: 0;
        text-align: center;
    }

    #photoRow span{
        height: 30rem;
        width: 80%;
    }
}